<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="127.0.0.1" />
    <add key="Port" value="7496" />
    <add key="ClientId" value="0" />
    <add key="Symbol" value="PLTR" />
    <add key="SecType" value="STK" />
    <add key="Currency" value="USD" />
    <add key="Exchange" value="SMART" />
    <add key="PrimmaryExch" value="ISLAND" />
    <add key="Days"  value="30" />
    <add key="SendingEmailAddress" value="baoshenyi@gmail.com" />
    <add key="RecipientEmailAddress" value="baoshenyi@gmail.com" />
  </appSettings>
</configuration>